
Flask
gunicorn
Flask-Login
Flask-Babel

SQLAlchemy
psycopg2-binary
bcrypt
passlib

scikit-learn
pandas
numpy
joblib
catboost

openai
google-generativeai
google.genai
markdown
beautifulsoup4

reportlab
Pillow
requests
python-dotenv

dotenv
openai
markdown
bs4